:root {

    --header-footer-color: linear-gradient(90deg, #0B3D91 0%, #037b4b 100%);

    --primary-color: #0B3D91;
    --primary-color-text: #2e2d2d;
    --secondary-color: #037b4b;
    --card-header-text: #00263e;
    --gradient-text: #FFFFFF;

    --highlight-color: #ffbb00;
    --button-color: #02a76590;
    --button-text-color: #FFFFFF;

    --card-background-color: rgba(26, 192, 187, 0.229);
    --card-border-color: #d9b0ff;

    --primary-font: 'Roboto', Arial, sans-serif;
    --heading-font: 'Oswald', 'Segoe UI', sans-serif;

    --positive: var(--positive, #037b4b);
    --negative: var(--negative, #d60a22);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

h1,
h2,
h3,
.site-title,
.footer-company-name {
    font-family: var(--heading-font);
}

#page-width {
    max-width: 840px;
    justify-self: center;
}